django==3.1
mysqlclient
requests==2.22.0
Pillow
djangorestframework==3.11.0
beautifulsoup4==4.8.2
django-ckeditor==5.9.0
django-rest-passwordreset==1.1.0
django-rest-knox==4.1.0
pycryptodome
djoser
django-cors-headers
whitenoise
django-import-export